* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing fonts from the folder */
@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
}

/* Container */
.container {
  width: 90%;
  max-width: 384px;
  margin: 0 auto;
  padding: 96px 0;
  margin-bottom: 24px;
}

/* Card */
.cards {
  background-color: hsl(0, 0%, 100%);
  padding: 24px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0 rgba(9, 0, 0, 0.75);
  max-width: 100%;
}

/* Content of the Card */
.articleImg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.text-box {
  margin-top: 24px;
}

.tag {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  padding: 4px 12px;
  font-size: clamp(0.75rem, 0.6607rem + 0.381vw, 0.875rem);
  font-weight: 800;
  margin-bottom: 12px;
  color: hsl(0, 0%, 7%);
}

.publish {
  font-size: clamp(0.75rem, 0.6607rem + 0.381vw, 0.875rem);
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  margin-bottom: 12px;
}

.title {
  font-size: clamp(1.25rem, 1.0714rem + 0.7619vw, 1.5rem);
  font-weight: 800;
  margin-bottom: 12px;
  color: hsl(0, 0%, 7%);
}

.description {
  font-size: clamp(0.875rem, 0.7857rem + 0.381vw, 1rem);
  font-weight: 500;
  color: hsl(0, 0%, 42%);
}

/* Author */
.author {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  align-items: center;
}

.userpic {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.authorname {
  font-size: 14px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
}

/* Footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Increases the font size when we hover on the link */
.attribution a:hover {
  color: hsl(0, 0%, 42%);
  font-size: 18px;
}

.attribution a:focus-visible {
  outline: 2px solid white;
  outline-offset: 3px;
}

/* Media Query */

@media (max-width: 400px) {
  /* hide the footer on smaller sceen 375px */
  .attribution {
    display: none;
  }
}

